In [1]:
#importing pandas libarary
import pandas as pd

In [2]:
#importing our data we will be using for our exploratory analysis
#i.e data = dataframe
df =  pd.read_csv(r"C:\Users\eakal\Desktop\Groceries Dataset\Groceries_dataset.csv")

In [3]:
df

       Member_number        Date            itemDescription
0               1808  21-07-2015             tropical fruit
1               2552  05-01-2015                 whole milk
2               2300  19-09-2015                  pip fruit
3               1187  12-12-2015           other vegetables
4               3037  01-02-2015                 whole milk
5               4941  14-02-2015                 rolls/buns
6               4501  08-05-2015           other vegetables
7               3803  23-12-2015                 pot plants
8               2762  20-03-2015                 whole milk
9               4119  12-02-2015             tropical fruit
10              1340  24-02-2015               citrus fruit
11              2193  14-04-2015                       beef
12              1997  21-07-2015                frankfurter
13              4546  03-09-2015                    chicken
14              4736  21-07-2015                     butter
15              1959  30-03-2015      fruit/vegetable juice
16              1974  03-05-2015  packaged fruit/vegetables
17              2421  02-09-2015                  chocolate
18              1513  03-08-2015              specialty bar
19              1905  07-07-2015           other vegetables
20              2810  08-09-2015                butter milk
21              2867  12-11-2015                 whole milk
22              3962  18-09-2015             tropical fruit
23              1088  30-11-2015             tropical fruit
24              4976  17-07-2015              bottled water
25              4056  12-06-2015                     yogurt
26              3611  13-02-2015                    sausage
27              1420  14-01-2015           other vegetables
28              4286  08-03-2015                brown bread
29              4918  27-01-2015                     yogurt
...              ...         ...                        ...
38735           4290  26-03-2014             instant coffee
38736           1818  08-12-2014                  beverages
38737           1176  04-08-2014              bottled water
38738           4879  19-09-2014                   zwieback
38739           1574  17-06-2014                     pastry
38740           1045  10-04-2014      Instant food products
38741           1168  31-10-2014   long life bakery product
38742           4648  03-10-2014         whipped/sour cream
38743           1931  04-03-2014                       salt
38744           2868  04-03-2014            potato products
38745           3082  22-07-2014                 whole milk
38746           2935  21-04-2014          frozen vegetables
38747           2639  08-06-2014      fruit/vegetable juice
38748           2789  12-07-2014                      sugar
38749           4153  14-02-2014                  chocolate
38750           3761  12-02-2014                      sugar
38751           4444  25-04-2014                     pastry
38752           2824  05-09-2014            cling film/bags
38753           1146  12-07-2014                    waffles
38754           4796  02-03-2014      Instant food products
38755           4586  26-09-2014              bottled water
38756           1987  29-10-2014      fruit/vegetable juice
38757           4376  07-12-2014                 rolls/buns
38758           2511  18-06-2014   long life bakery product
38759           3364  06-05-2014                        oil
38760           4471  08-10-2014              sliced cheese
38761           2022  23-02-2014                      candy
38762           1097  16-04-2014                   cake bar
38763           1510  03-12-2014      fruit/vegetable juice
38764           1521  26-12-2014                   cat food

[38765 rows x 3 columns]

In [4]:
#this shows the total number of rows and columns of the dataset/dataframe
df.shape

(38765, 3)

In [5]:
#this shows the total number of indexes
df.index

RangeIndex(start=0, stop=38765, step=1)

In [6]:
#this shows the names of the columns in the dataset/dataframe
df.columns

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [7]:
#this shows the datatype of each column in the dataframe
df.dtypes

Member_number       int64
Date               object
itemDescription    object
dtype: object

In [8]:
#this shows the first 5 rows of the dataframe
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [15]:
df['itemDescription'].head()

0      tropical fruit
1          whole milk
2           pip fruit
3    other vegetables
4          whole milk
Name: itemDescription, dtype: object

In [11]:
#this shows the last 5 rows of the dataframe
df.tail()

38760            sliced cheese
38761                    candy
38762                 cake bar
38763    fruit/vegetable juice
38764                 cat food
Name: itemDescription, dtype: object

In [16]:
df['itemDescription'].tail()

38760            sliced cheese
38761                    candy
38762                 cake bar
38763    fruit/vegetable juice
38764                 cat food
Name: itemDescription, dtype: object

In [10]:
#in a column, it shows the unique values
df['itemDescription'].unique()

array(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables',
       'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter',
       'chicken', 'butter', 'fruit/vegetable juice',
       'packaged fruit/vegetables', 'chocolate', 'specialty bar',
       'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread',
       'hamburger meat', 'root vegetables', 'pork', 'pastry',
       'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham',
       'turkey', 'curd cheese', 'red/blush wine',
       'frozen potato products', 'flour', 'sugar', 'frozen meals',
       'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish',
       'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn',
       'finished products', 'beverages', 'bottled beer', 'dessert',
       'dog food', 'specialty chocolate', 'condensed milk', 'cleaner',
       'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese ',
       'liquor', 'pickled vegetables', 'liquor (appetizer)', 'UHT-milk',
       'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs',
       'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream',
       'frozen vegetables', 'sliced cheese', 'dish cleaner',
       'baking powder', 'specialty cheese', 'salty snack',
       'Instant food products', 'pet care', 'white bread',
       'female sanitary products', 'cling film/bags', 'soap',
       'frozen chicken', 'house keeping products', 'spread cheese',
       'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes',
       'potato products', 'frozen fish', 'hygiene articles',
       'artif. sweetener', 'light bulbs', 'canned vegetables',
       'chewing gum', 'canned fish', 'cookware', 'semi-finished bread',
       'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf',
       'zwieback', 'canned fruit', 'frozen fruits', 'brandy',
       'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum',
       'chocolate marshmallow', 'long life bakery product', 'bags',
       'sweet spreads', 'soups', 'mustard', 'specialty fat',
       'instant coffee', 'snack products', 'organic sausage',
       'soft cheese', 'mayonnaise', 'dental care', 'roll products ',
       'kitchen towels', 'flower soil/fertilizer', 'cereals',
       'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky',
       'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur',
       'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care',
       'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener',
       'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil',
       'flower (seeds)', 'rice', 'tea', 'salad dressing',
       'specialty vegetables', 'pudding powder', 'ready soups',
       'make up remover', 'toilet cleaner', 'preservation products'],
      dtype=object)

In [14]:
df['Member_number'].unique()

array([1808, 2552, 2300, ..., 3607, 4587, 2417], dtype=int64)

In [17]:
#this shows the total number of unique values, column-wise. itcan also be applied on a single columns also
df.nunique()

Member_number      3898
Date                728
itemDescription     167
dtype: int64

In [18]:
df['itemDescription'].nunique()

167

In [19]:
#this shows the total number of noon-null values column wise. it can be applied on a single column also.
df.count()

Member_number      38765
Date               38765
itemDescription    38765
dtype: int64

In [21]:
df['itemDescription'].count()

38765

In [22]:
#in a column, this shows all the unique values with their counts. we can't use this command on a whole dataframe.
df['itemDescription'].value_counts()

whole milk                2502
other vegetables          1898
rolls/buns                1716
soda                      1514
yogurt                    1334
root vegetables           1071
tropical fruit            1032
bottled water              933
sausage                    924
citrus fruit               812
pastry                     785
pip fruit                  744
shopping bags              731
canned beer                717
bottled beer               687
whipped/sour cream         662
newspapers                 596
frankfurter                580
brown bread                571
domestic eggs              566
pork                       566
butter                     534
fruit/vegetable juice      518
beef                       516
curd                       514
margarine                  491
coffee                     476
frozen vegetables          425
chicken                    422
white bread                362
                          ...
syrup                       21
canned fruit                21
soap                        20
skin care                   20
prosecco                    19
pudding powder              17
bathroom cleaner            17
cookware                    17
cocoa drinks                16
flower soil/fertilizer      16
ready soups                 15
cooking chocolate           15
honey                       13
cream                       12
specialty vegetables        11
frozen fruits               11
organic products            10
decalcifier                  9
hair spray                   9
liqueur                      9
whisky                       8
salad dressing               6
make up remover              5
toilet cleaner               5
rubbing alcohol              5
frozen chicken               5
bags                         4
baby cosmetics               3
kitchen utensil              1
preservation products        1
Name: itemDescription, Length: 167, dtype: int64